version: 2

prelude: &prelude
  docker:
  - image: bodak/rust-python-alpine
  working_directory: ~/hmrb

setup_code_climate: &setup_code_climate
  run:
    name: setup code climate
    command: |
      apk add --no-cache curl
      curl -L -o cc-test-reporter https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
      chmod +x cc-test-reporter
      ./cc-test-reporter before-build
upload_code_climate: &upload_code_climate
  run:
    name: upload coverage results
    command: |
      apk add --no-cache git
      ./cc-test-reporter after-build -t coverage.py --exit-code $?
only_master: &only_master
  filters:
    branches:
      only:
      - master

not_master: &not_master
  filters:
    branches:
      ignore:
      - master

only_tagged: &only_tagged
  filters:
    branches:
      ignore:
      - /^.*$/
    tags:
      only:
      - /^.*$/

workflows:
  version: 2
  build-and-test:
    jobs:
    - lint:
        <<: *not_master
    - test:
        <<: *not_master
    - release:
        <<: *only_master

jobs:
  test:
    <<: *prelude
    steps:
    - checkout
    - *setup_code_climate
    - run: |
        pip3 install cython
        pip3 install nox
        make tests
    - *upload_code_climate
  lint:
    <<: *prelude
    steps:
    - checkout
    - run: |
        pip3 install nox
        make lint
        make type
        make safety
  release:
    <<: *prelude
    steps:
      - checkout
      - run: |
          pip install --user pypi-cli twine wheel
          make release
